ul {
    margin-top: 40px;
}
a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
}
i {
    height: 20px;
}
a:hover {
    background-color: #2f0e63;
    border-left: 4px solid #e30be0;
}
.active-link {
    background-color: #2f0e63;
    border-left: 4px solid #e30be0;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
}