.btnBox {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px;
    padding-top: 20px;
    border-top: 2px solid #b1b0b0;
}
.btnBox h2 {
    font-size: 25px;
    color: #716e6e;
}
.btnAdd {
    background-color: #e30be0;
    color: white;
    padding: 5px 10px;
}
input {
    border: 1px solid #cbc8c8;
}
.projectMain {
    display: flex;
    justify-content: space-between;
}
.projectBlock {
    display: flex;
    flex-wrap: wrap;
}
.projectList {
    display: block;
}
